@model Project.Models.Video

@{ 
    Layout = null;
}

@using (Html.BeginForm("DeleteVideo", "Admin", new { Id = Model.VideoId }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="width:350px;">
        <div class="modal-content">
            <div class="modal-header alert alert-info">Удаление</div>
            <div class="modal-body">
                <h4>Хотите удалить видео @Html.DisplayFor(model => model.Title) ?</h4>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Удалить" class="btn btn-primary" role="button" />
                <button class="btn btn-danger" data-dismiss="modal" area-hidden="true">Отмена</button>
            </div>
        </div>
    </div>


}
