body {
    /*padding-top: 50px;*/
}

.main_backround{
    background-color: #e6e6e6;
}
.container_main{
    background: #fff;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.embed-responsive-4by3 {
    padding-bottom: 42%;
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top:52px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

.row{
    margin:0px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
/*.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}*/


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/*.featurette {
    padding-top: 120px; 
    overflow: hidden;
}*/
/* Vertically center images part 1: add padding above and below text. */
  /* Vertically center images part 2: clear their floats. */

/*.featurette-image {
  margin-top: -120px; 
}*/
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */


/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/*.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}*/

/* Thin out the marketing headings */
/*.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}*/



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
    
}



.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.main-footer{
    /*border-top:1px solid #e7e7e7;*/
    position:relative;
    /*background:#003366;*/
    color:#fff;
    background:#393663;
    border-top: 1px solid #262442;
}
.main-footer a{
    color:#fff;
}
.main-footer .row{
    margin-left:0;
    margin-right:0;
    
}

.admin-header{
    border-radius:0px;
    margin:0px;
}

.admin-header-head{
    height:52px;
    background:#6699ff;
}
.text-head-left{
    margin-top:18px;
}
.admin-header-head h4{
    color:#fff;
}

.admin-main-block-left{
    margin:0px;
    background:#737373;
    /*height:615px;*/
    height:100vh;
}

.admin-main-block-right{
    margin:0px;
    background:#e6e6e6;
    float:right;
    /*height:1200px;*/
}



/*.navbar-default{
    margin:0px;
    background:#f65e08;
    border:1px solid #f65e08;
}*/

.my-nav{
    margin:0px;
    background:#625EA6;
    border:1px solid #555194;
}


.navbar-default .navbar-nav > li > a {
    color:#e6e6e6;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:#fff;
    background:none;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
    color:#e6e6e6;
    background:#625EA6;
}
.navbar-nav > li > .dropdown-menu {
    background:#625EA6;
    
}

.dropdown-menu > li > a {
    color:#e6e6e6;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#ffffff;
    background-color: transparent;
    border-bottom:4px solid #000066;
    margin-bottom:-4px;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    /*height: 610px;*/
    height:100vh;
}
    
/* Set gray background color and 100% height */
.sidenav {
background-color: #f1f1f1;
height: 100%;
}
        
 /* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
.row.content {height: auto;} 
}

.nav-stacked li a:hover{
    background:#428bca!important;
    color:#fff;
}

.pre-header{
    word-break:normal;
    padding:0px;
    margin:0px;
    background:none;
    border:none;
    height:70px;
}
.pre-header h3{
    margin:0px;
}
.img-courses img{
    height: 260px;
    width:100%;
}

.my_cl{
    margin-top:20px;
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 15.4px; 
}

.my_cl h3{
    font-family: Consolas, monaco, monospace;
    font-size: 22px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 15.4px;
}
.cours_lst{
    padding:0px;
    padding-top:5px;
}
.header_detail{
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    background: #e6e6e6;
    padding-bottom: 20px;
}
.header_detail img{
    height:200px;
    padding-top:10px;
}

.header_date_block{
    text-align:center;
    padding-top:40px;
    padding-left:0px;
    padding-right:15px;
}

.teach_block :hover{
    /*border:1px solid black;*/
}