@model IEnumerable<Project.Models.Course>

@foreach (var item in Model)
{
   
<div class="col-md-4">
    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive" />
    <h3>@Html.DisplayFor(model=> item.Title)</h3>
    <p>
        <b>Коротко про курс:</b> 
        <br />
        @if (item.DescriptionCourse.Length > 20)
        {
            string newDescription = item.DescriptionCourse.Substring(0, 20)+"...";
            @newDescription;
        }
        else
        {
            @Html.DisplayFor(model => item.DescriptionCourse)
        }

    </p>
    <p>
        @Html.ActionLink("Детальніше", "DetailCourse", "Home", new { id = item.CourseId },new {@style = "text-align:right;" })
        @*<a href="#" style="text-align:right;">
            Mor information
        </a>*@
    </p>
    <hr />
</div>
}