@model IEnumerable<Project.Models.Teacher>

@foreach (var item in Model)
{
    <a href="@Url.Action("DetailTeacher","Home",new { id = item.TeacherId })" >
        <div class="col-md-4 teach_block">
            @if (item.ImagePath == null)
            {
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive" />
            }
            else
            {
                <img src="@Url.Content(item.ImagePath)" alt="image" class="center-block img-circle img-responsive" />
            }
            <h3 class="text-center">@item.FullName</h3>
            <p class="text-center">@item.Position.Title</p>
        </div>
    </a>
}
